
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "vvdsBold";   
  src: local("VVDS-Fifties-SExp-SBold"),
    url("fonts/vvds/VVDS-Fifties-SExp-SBold.otf") format("truetype");
}

@font-face {
  font-family: "vvdsRegular";   
  src: local("VVDS-Fifties-SExp-Reg"),
    url("fonts/vvds/VVDS-Fifties-SExp-Reg.otf") format("truetype");
}

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb{
  background: #888;
}

::-webkit-scrollbar-track:hover {
  background: #555;
}